<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
    <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Wordify</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
<!--    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />-->
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
<style>
 body{
background: url("{% static "images/button.jpg" %}");
background-size: cover;
}
    
    .rule1 {
    font-size:50px;
    }

input{
  border-radius: 7px;
  font: 20px/1;
  text-align:left;
  color:#00040a;
  width: 50%;
  height: 30px;
  letter-spacing: 1px;
  margin-top:5px;
 border-color:black;

}
 .corner{
 margin-top:2%;
 margin-left:5%;
 padding-left:15%;
 padding-top:10%;
 padding-bottom:10%;
    border-size:2px;
border-style:solid;
border-color:#FFFFFF;
     border-radius: 25px;
	width:90%;
  height:500px;
	//text-align:center;
    }
</style>

</head>
<body class="hf">
<div>
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <i class="hf"><a class="navbar-brand" href="#">Wordify</a></i>
          </div>
          <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
              <!--<li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>-->
              {% if user.is_authenticated %}
     <li><b style="padding-right:10px;"><i class="fa fa-child fa-2x"></i> Welcome {{user.username}} <i class="fa fa-child fa-2x"></i></b></li>
             
              {% else %}
              {% endif %}
            </ul> 
                      </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
</div>


	

 <div class="row">

        <div class="col-md-6">
    <div class="corner" styel="padding-right:10%;">
	<!--<a href = '{% url "delete_all_keys" %}'> DELETE ALL KEYS (AT YOUR OWN RISK) </a>-->

	<div id = 'game_elements' hidden>
<br/>
  <div><b style="padding-left:15%;">LISTEN</b></div><br/>
		<div><audio id = 'audio_word' style="width:50%" controls = 'controls' src ="/static/audio/test.mp3" type="audio/mpeg" >
			Your browser does not support the audio element.
		</audio></div><br/>

		<form id='my_form' method = 'POST' action = "{% url 'ganswer_post'">
    <div><b>Enter the correct spelling :</b></div>
 			<input type = 'text' id = 'input_word' style="" name = 'input_word' value = ''/><br/><br/>
			<button type="submit" class="btn btn-info" id="submit_button" value='Next'style="position:relative;"/>Next</button>

			<div id="myDiv"></div>
		</form>
    <br/><b style="padding-left:15%;">MEANINGS</b><br/><br/>
    <pre style="background-color:black;color:#FFFFFF; font-size: 16px; width:80%; font-family:Josefin Slab;"><b><div id="mone"></div></b></pre>
	</div>
	<div id = 'group_choice' >
		<form id = 'new_group_form' method = 'post' action = "{% url 'new_group' %}">
			<b>Enter the new or existing group : </b>
			<div><input id = 'new_group' type = 'text' />
			<select id = 'group_select' >
			</select></div>
			<b id = 'group_list_updated' hidden> &lt;---- updated!</b>
			<br>
			<div><b style="position:relative;">Enter the no. of words : </b></div>
			<div><input type = 'text' id = 'totwords'/></div>
			<div><b style="position:relative;">Enter the no. of members : </b></div>
			<div><input type = 'text' id = 'totmembers' style="position:relative;"/></div><br>
			<div class="hf"><button class="btn btn-info" id = 'new_group_button' type = 'submit' value = 'create/join group'/><b>create/join group</b></button></div>
		</form>
	</div>
    <br/>
	<a id = 'redirection_url' href = '' hidden> <center><button class="btn btn-info" style="position:relative;right:10%;">Go to results!</button></center> </a>

	<div id = 'pre_game_elements' hidden>
		<br/>
        <center><b class="hf"style=""><h2 id = 'session_start_notice' style="padding-right:50px;"> Session will automatically start when other users will connect </h2></b></center><br/>
		<center><button class="btn btn-info" style="position:relative;right:10%;"type='button' id = 'delete_group' value = 'Delete group' hidden/><b>Delete Group</b></button></center><br/><br/>

        </div></div></div>
<div class="col-md-6">
        <div class="corner" style="overflow-y:scroll;height:500px;">
		<br><hr style="width: 70%; color:#FFFFFF; height: 2px;">
		<b> Group specific messages will appear here!</b>
		<b><ol id = 'status_messages'></ol></b>

	<br>
    <hr style="width: 70%; color:#FFFFFF; height: 2px;">
	<b> general messages will appear here!</b>
	<b><ol id = 'broadcast_messages'></ol></b>

</div></div></div>
	<!--<input type = 'button' id = 'nullify' value = 'nullify'/>
	<input type = 'button' id = 'test_publish' value = 'test'/>-->
	<script src = '{% static "js/jquery-2.1.4.js" %}'></script>
	<script src = '{% static "js/ws4redis.js" %}'></script>
	<script type = 'text/javascript'> 
		var WEBSOCKET_URI = "{{ WEBSOCKET_URI }}";
		//this variable is used to create a socket connection

		var GANSWER_POST = "{% url 'ganswer_post' %}";
		//the complete game logic is controlled by this url

		var GINFO = "{% url 'ginfo' %}";
		//to get the information regarding groups

		var GDELETE = "{% url 'gdelete' %}";
		// to delete the group

		var WS4REDIS_HEARTBEAT = {{ WS4REDIS_HEARTBEAT }};
		//optional as of now, notice no double quotes

		var MY_PREFIX = "{{MY_PREFIX}}";
		//used to create broadcast socket

		var FACILITY = "";
		// used to create group specific socket

		var ws4redis;
		//group specific variable


	</script>
	<script src = '{% static "js/group-jquery.js" %}'></script>
	<br/><br/>
<div class="footer">

<br/>
<div class="row">
<div>
<br/>
<center><ul class="list-unstyled">
<li>Home</li>
<li>Sessions</li>
<li>Practice</li>
<li>Compete</li>
</ul></center>
</div>
</div>
</body>
</html>