<!DOCTYPE html>
<html>

    <head>
        <title>Spelling</title>
    </head>

    <body>
        {% if user.is_authenticated %}
        <h1> welcome {{user.username}}</h1>
        <p> start single <a href = "{% url 'single_player' %}">session</a> now!</p>
        <p> <a href = "{% url 'logout' %}"> logout </a>
        <p> start group<a href = "{% url 'group' %}"> session </a> now!
        {% else %}
        <a href="{% url 'register' %}">register here!</a>
        <a href="{% url 'login' %}">login here!</a>
        {% endif %}
    </body>

</html>